ЗАДАНИЕ 2.3. Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

In [126]:
import pandas as pd

def delete_columns(df, col=[]):
    if set(col).issubset(df.columns):
        edit_df = df.drop(col, axis=1)
        return edit_df
    else:
        return None

    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ['number','cust_age','cust'] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

None

Задание 2.4. Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [127]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df['population_density'] = (countries_df['population']*1000000)/countries_df['square']
display(countries_df)
display(round(countries_df['population_density'].mean(),2))
display(round((countries_df['population_density'].sum()/countries_df.shape[0]),2))

     country  population    square  population_density
0     Англия       56.29    133396          421.976671
1     Канада       38.05   9984670            3.810842
2        США      322.28   9826630           32.796595
3     Россия      146.24  17125191            8.539467
4    Украина       45.50    603628           75.377550
5   Беларусь        9.50    207600           45.761079
6  Казахстан       17.04   2724902            6.253436

84.93

84.93

Задание 3.3. Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [128]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()

melb_df['WeekdaySale'] = (pd.to_datetime(melb_df['Date'], dayfirst=True)).dt.dayofweek
weekend_sale = melb_df['WeekdaySale'].value_counts()
weekend_count = weekend_sale[5] + weekend_sale[6]
display(weekend_count)

12822

ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

* "City" — город, где был замечен НЛО;
* "Colors Reported" — цвет объекта;
* "Shape Reported" — форма объекта;
* "State" — обозначение штата;
* "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [129]:
import pandas as pd

nlo_usa_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
nlo_df = nlo_usa_df.copy()

nlo_df['Time'] = pd.to_datetime(nlo_df['Time'], dayfirst=True)

display(nlo_df.head())

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

Задание 3.4. В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [130]:
year = nlo_df['Time'].dt.year
print("Maximum number of ufo sightings:", year.mode()[0])

Maximum number of ufo sightings: 1999

Задание 3.5. Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

* Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.
* Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().
* Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days. (причем перевести в дни нужно до вычисления среднего, иначе сотые доли в меньшей степени)

In [139]:
nlo_df['Time'] = pd.to_datetime(nlo_df['Time'], dayfirst=True)
nlo_df['Date'] = nlo_df['Time'].dt.date
mask_NV = nlo_df['State'] == 'NV'
diff_date = nlo_df[mask_NV]['Date'].diff().dt.days.mean()
display(round(diff_date))

69