ЗАДАНИЕ 2.3. Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

In [1]:
import pandas as pd

def delete_columns(df, col=[]):
    if set(col).issubset(df.columns):
        edit_df = df.drop(col, axis=1)
        return edit_df
    else:
        return None

    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ['number','cust_age','cust'] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

None

Задание 2.4. Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [2]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df['population_density'] = (countries_df['population']*1000000)/countries_df['square']
display(countries_df)
display(round(countries_df['population_density'].mean(),2))
display(round((countries_df['population_density'].sum()/countries_df.shape[0]),2))

     country  population    square  population_density
0     Англия       56.29    133396          421.976671
1     Канада       38.05   9984670            3.810842
2        США      322.28   9826630           32.796595
3     Россия      146.24  17125191            8.539467
4    Украина       45.50    603628           75.377550
5   Беларусь        9.50    207600           45.761079
6  Казахстан       17.04   2724902            6.253436

84.93

84.93

Задание 3.3. Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [3]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()

melb_df['WeekdaySale'] = (pd.to_datetime(melb_df['Date'], dayfirst=True)).dt.dayofweek
weekend_sale = melb_df['WeekdaySale'].value_counts()
weekend_count = weekend_sale[5] + weekend_sale[6]
display(weekend_count)

12822

ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

* "City" — город, где был замечен НЛО;
* "Colors Reported" — цвет объекта;
* "Shape Reported" — форма объекта;
* "State" — обозначение штата;
* "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [4]:
import pandas as pd

nlo_usa_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
nlo_df = nlo_usa_df.copy()

nlo_df['Time'] = pd.to_datetime(nlo_df['Time'], dayfirst=True)

display(nlo_df.head())

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

Задание 3.4. В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [5]:
year = nlo_df['Time'].dt.year
print("Maximum number of ufo sightings:", year.mode()[0])

Maximum number of ufo sightings: 1999

Задание 3.5. Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

* Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.
* Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().
* Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days. (причем перевести в дни нужно до вычисления среднего, иначе сотые доли в меньшей степени)

In [6]:
nlo_df['Time'] = pd.to_datetime(nlo_df['Time'], dayfirst=True)
nlo_df['Date'] = nlo_df['Time'].dt.date
mask_NV = nlo_df['State'] == 'NV'
diff_date = nlo_df[mask_NV]['Date'].diff().dt.days.mean()
display(round(diff_date))

69

Задание 4.2. 
Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [7]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return(1)
    else:
        return(0)
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
mean_price_weekend = melb_df[melb_df['Weekend']==1]['Price'].mean()
display(round(mean_price_weekend))

1081199

Задание 4.3. Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [8]:
pop_sellerg = melb_df['SellerG'].value_counts().nlargest(49).index

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in pop_sellerg else 'other')
#display(melb_df['SellerG'].value_counts())
display('Difference: ', round((melb_df[(melb_df['SellerG'] == 'Nelson')]['Price'].min())/(melb_df[(melb_df['SellerG'] == 'other')]['Price'].min()), 1))

'Difference: '

1.3

In [9]:
import pandas as pd

def get_experience(arg):
    exp_list = arg.split(' ')
    if len(exp_list) > 4:
        check_year = exp_list[3]
        if list(check_year)[0] == "л" or list(check_year)[0] == "г":
            exp_data = int(exp_list[2])*12+int(exp_list[4])
        else:
            exp_data = int(exp_list[2])
    else:
        check_year = exp_list[3]
        if list(check_year)[0] == "л" or list(check_year)[0] == "г":
            exp_data = int(exp_list[2])*12
        else:
            exp_data = int(exp_list[2])
    return exp_data
                
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    pass

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [10]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  category
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  category
 24  Weekend        13580 non-null  category
dtypes: category(8), float64(6), int64(7), object(4)
memory usage: 1.9+ MB

None

Задание 5.2. При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
1. С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
2. Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
3. Приведите данные в столбце Suburb к категориальному типу.

В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [11]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  category
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  category
 24  Weekend        13580 non-null  category
dtypes: category(8), float64(6), int64(7), object(4)
memory usage: 1.9+ MB

None

In [12]:
display(melb_df['Suburb'].value_counts())

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: Suburb, Length: 314, dtype: int64

In [13]:
suburb_types = melb_df['Suburb'].apply(lambda x:x)
display(suburb_types.value_counts())
pop_suburb = suburb_types.value_counts().nlargest(119).index
melb_df['Suburb'] = suburb_types.apply(lambda x: x if x in pop_suburb else 'other')
display(melb_df['Suburb'].value_counts())

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: Suburb, Length: 314, dtype: int64

other              2181
Reservoir           359
Richmond            260
Bentleigh East      249
Preston             239
                   ...
Caulfield North      35
Chadstone            35
Hughesdale           35
Mont Albert          34
Alphington           34
Name: Suburb, Length: 120, dtype: int64

In [14]:
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
print(melb_df['Suburb'].cat.categories)

Index(['Abbotsford', 'Aberfeldie', 'Airport West', 'Albert Park', 'Albion',
       'Alphington', 'Altona', 'Altona North', 'Armadale', 'Ascot Vale',
       ...
       'Thornbury', 'Toorak', 'Viewbank', 'Watsonia', 'Werribee',
       'West Footscray', 'Williamstown', 'Windsor', 'Yarraville', 'other'],
      dtype='object', length=120)

In [15]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  category
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  category
 24  Weekend        13580 non-null  category
dtypes: category(9), float64(6), int64(7), object(3)
memory usage: 1.8+ MB

None

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

* starttime — время начала поездки (дата, время);
* stoptime — время окончания поездки (дата, время);
* start station id — идентификатор стартовой стоянки;
* start station name — название стартовой стоянки;
* start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
* end station id — идентификатор конечной стоянки;
* end station name — название конечной стоянки;
* end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
* bikeid — идентификатор велосипеда;
* usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
* birth year — год рождения клиента;
* gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [16]:
cycling_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(cycling_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Задание 6.1. Сколько пропусков в столбце start station id?

In [17]:
display(cycling_df.info())
print(300000-299831)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

169

Задание 6.2. Какой тип данных имеют столбцы starttime и stoptime?

In [18]:
print(cycling_df['starttime'].dtype, '&', cycling_df['stoptime'].dtype)

object & object

Задание 6.3. Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [19]:
most_popular_start_station = cycling_df['start station id'].value_counts().nlargest(1).index[0]
print("Identifier of the most popular start station:", round(most_popular_start_station))

Identifier of the most popular start station: 281

Задание 6.4. Велосипед с каким идентификатором является самым популярным?

In [20]:
print("Identifier of the most popular bicycle:", cycling_df['bikeid'].value_counts().nlargest(1).index[0])

Identifier of the most popular bicycle: 33887

Задание 6.5. Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [21]:
print("Share of the predominant type of usetype:", round(cycling_df['usertype'].value_counts(normalize=True).values[0], 2))

Share of the predominant type of usetype: 0.77

Задание 6.6. Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [22]:
print("Do more cycling:", round(cycling_df['gender'].value_counts().values[0], 2))

Do more cycling: 183582

Задание 6.7.
1. Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
2. В рассматриваемые дни минимальный возраст клиента составлял 10 лет
3. Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
4. Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [23]:
print('1 :', not(cycling_df['start station id'].nunique() == cycling_df['end station id'].nunique()))
cycling_df['starttime'] = pd.to_datetime(cycling_df['starttime'], dayfirst=True)
print('2 :', ((cycling_df['starttime'].dt.year.unique().min())-(cycling_df['birth year'].unique().max()) == 10))
most_unpopular_start_station = cycling_df['start station name'].value_counts().nsmallest(1).index[0]
print('3 :', (most_unpopular_start_station == "Eastern Pkwy & Washington Ave"))
print('4 :', (cycling_df['end station name'].value_counts().nlargest(1).index[0] == "Liberty Light Rail"))

1 : True
2 : False
3 : True
4 : False

Задание 6.8. В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [24]:
cycling_df = cycling_df.drop('start station id', axis=1)
cycling_df = cycling_df.drop('end station id', axis=1)

In [25]:
print(cycling_df.shape[1], 'columns are stay.')

12 columns are stay.

Задание 6.9. Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [26]:
cycling_df['age'] = 2018 - cycling_df['birth year']
cycling_df = cycling_df.drop('birth year', axis=1)
print(cycling_df[cycling_df['age'] > 60].shape[0], 'bike rides made by customers over 60 years old.')

11837 bike rides made by customers over 60 years old.

Задание 6.10. Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [27]:
cycling_df['stoptime'] = pd.to_datetime(cycling_df['stoptime'], dayfirst=True)
cycling_df['trip duration'] = cycling_df['stoptime'] - cycling_df['starttime']
print(cycling_df['trip duration'][3])

0 days 00:07:16.837000

Задание 6.11. Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [28]:
cycling_df['weekend'] = cycling_df['starttime'].dt.dayofweek.apply(lambda x: 1 if x > 4 else 0)
print('Count of weekend ride:', cycling_df['weekend'].value_counts()[1])

Count of weekend ride: 115135

Задание 6.12. Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

* поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [29]:
def get_time_of_day(hours):
    if 0 <= hours <= 6:
        return 'night'
    elif 6 < hours <= 12:
        return 'morning'
    elif 12 < hours <= 18:
        return 'day'
    else:
        return 'evening'

In [30]:
cycling_df['time_of_day'] = cycling_df['starttime'].dt.hour.apply(get_time_of_day)
display(cycling_df['time_of_day'].value_counts())
print((cycling_df[cycling_df['time_of_day'] =='day'].count()[0])//(cycling_df[cycling_df['time_of_day'] =='night'].count()[0]))

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

9